										<!--begin::Stats Widget 8-->
										<div class="card card-custom card-stretch-50 mb-5 mb-xxl-8">
											<!--begin::Body-->
											<div class="card-body">
												<div id="kt_stats_widget_8_carousel" class="carousel carousel-custom slide" data-bs-ride="carousel" data-bs-interval="8000">
													<!--begin::Heading-->
													<div class="d-flex align-items-center justify-content-between flex-wrap">
														<!--begin::Label-->
														<span class="fs-6 text-muted fw-bolder pe-2">Projects</span>
														<!--end::Label-->
														<!--begin::Carousel Indicators-->
														<ol class="p-0 m-0 carousel-indicators carousel-indicators-dots">
															<li data-bs-target="#kt_stats_widget_8_carousel" data-bs-slide-to="0" class="ms-1 active"></li>
															<li data-bs-target="#kt_stats_widget_8_carousel" data-bs-slide-to="1" class="ms-1"></li>
															<li data-bs-target="#kt_stats_widget_8_carousel" data-bs-slide-to="2" class="ms-1"></li>
														</ol>
														<!--end::Carousel Indicators-->
													</div>
													<!--end::Heading-->
													<!--begin::Carousel-->
													<div class="carousel-inner pt-8">
														<!--begin::Item-->
														<div class="carousel-item active">
															<!--begin::Section-->
															<div class="d-flex flex-column justify-content-between h-100">
																<!--begin::Title-->
																<h3 class="fs-3 text-gray-800 text-hover-primary fw-bolder cursor-pointer">Admin Launch Day</h3>
																<!--end::Title-->
																<!--begin::Text-->
																<p class="text-gray-600 fw-bold pt-3 mb-0">To start a blog, think of a topic about and first brainstorm ways to write details</p>
																<!--end::Text-->
															</div>
															<!--end::Section-->
														</div>
														<!--end::Item-->
														<!--begin::Item-->
														<div class="carousel-item">
															<!--begin::Section-->
															<div class="d-flex flex-column justify-content-between h-100">
																<!--begin::Title-->
																<h3 class="fs-3 text-gray-800 text-hover-primary fw-bolder cursor-pointer">Reached 50,000 Sales</h3>
																<!--end::Title-->
																<!--begin::Text-->
																<p class="text-gray-600 fw-bold pt-3 mb-0">To start a blog, think of a topic about and first brainstorm ways to write details</p>
																<!--end::Text-->
															</div>
															<!--end::Section-->
														</div>
														<!--end::Item-->
														<!--begin::Item-->
														<div class="carousel-item">
															<!--begin::Section-->
															<div class="d-flex flex-column justify-content-between h-100">
																<!--begin::Title-->
																<h3 class="fs-3 text-gray-800 text-hover-primary fw-bolder cursor-pointer">Reached 50,000 Sales</h3>
																<!--end::Title-->
																<!--begin::Text-->
																<p class="text-gray-600 fw-bold pt-3 mb-0">To start a blog, think of a topic about and first brainstorm ways to write details</p>
																<!--end::Text-->
															</div>
															<!--end::Section-->
														</div>
														<!--end::Item-->
													</div>
													<!--end::Carousel-->
												</div>
											</div>
											<!--end::Body-->
											<!--begin::Footer-->
											<div class="card-footer border-0 pt-0 pb-10">
												<!--begin::Text-->
												<div class="d-flex text-muted fw-bold fs-6 pb-4">
													<span class="flex-grow-1">Progress</span>
													<span class="">78%</span>
												</div>
												<!--end::Text-->
												<!--begin::Progress-->
												<div class="progress h-6px bg-light-danger">
													<div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<!--end::Progress-->
											</div>
											<!--end::Footer-->
										</div>
										<!--end::Stats Widget 8-->