										
										<!--begin::Stats Widget 2-->
										<div class="card card-custom card-stretch mb-5 mb-xxl-8">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0 mt-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="fw-bolder text-dark fs-3">Milestones</span>
													<span class="text-muted mt-2 fw-bold fs-6">890,344 Sales</span>
												</h3>
												<div class="card-toolbar">
													<!--begin::Dropdown-->
													<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>

<!--layout-partial:partials/content/dropdown/_dropdown-2.html-->

													<!--end::Dropdown-->
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0">
												<div class="d-flex flex-wrap flex-xxl-nowrap justify-content-center justify-content-md-start pt-4">
													<!--begin::Nav-->
													<div class="me-sm-10 me-0">
														<ul class="nav flex-column nav-pills nav-pills-custom">
															<li class="nav-item mb-3">
																<a class="nav-link active w-225px h-70px" data-bs-toggle="pill" id="kt_stats_widget_2_tab_1" href="#kt_stats_widget_2_tab_1_content">
																	<div class="nav-icon me-3">
																		<img alt="" src="assets/media/svg/logo/gray/aven.svg" class="default" />
																		<img alt="" src="assets/media/svg/logo/colored/aven.svg" class="active" />
																	</div>
																	<div class="ps-1">
																		<span class="nav-text text-gray-600 fw-bolder fs-6">Man&amp;Flower SaaS</span>
																		<span class="text-muted fw-bold d-block pt-1">HR Solutions</span>
																	</div>
																</a>
															</li>
															<li class="nav-item mb-3">
																<a class="nav-link w-225px h-70px" data-bs-toggle="pill" id="kt_stats_widget_2_tab_2" href="#kt_stats_widget_2_tab_2_content">
																	<div class="nav-icon me-3">
																		<img alt="" src="assets/media/svg/logo/gray/tower.svg" class="default" />
																		<img alt="" src="assets/media/svg/logo/colored/tower.svg" class="active" />
																	</div>
																	<div class="ps-1">
																		<span class="nav-text text-gray-600 fw-bolder fs-6">Building Studio</span>
																		<span class="text-muted fw-bold d-block pt-1">HR Solutions</span>
																	</div>
																</a>
															</li>
															<li class="nav-item mb-3">
																<a class="nav-link w-225px h-70px" data-bs-toggle="pill" id="kt_stats_widget_2_tab_3" href="#kt_stats_widget_2_tab_3_content">
																	<div class="nav-icon me-3">
																		<img alt="" src="assets/media/svg/logo/gray/fox-hub-2.svg" class="default" />
																		<img alt="" src="assets/media/svg/logo/colored/fox-hub-2.svg" class="active" />
																	</div>
																	<div class="ps-1">
																		<span class="nav-text text-gray-600 fw-bolder fs-6">Foxy Solutions</span>
																		<span class="text-muted fw-bold d-block pt-1">HR Solutions</span>
																	</div>
																</a>
															</li>
															<li class="nav-item mb-5">
																<a class="nav-link w-225px h-70px" data-bs-toggle="pill" id="kt_stats_widget_2_tab_4" href="#kt_stats_widget_2_tab_4_content">
																	<div class="nav-icon me-3">
																		<img alt="" src="assets/media/svg/logo/gray/kanba.svg" class="default" />
																		<img alt="" src="assets/media/svg/logo/colored/kanba.svg" class="active" />
																	</div>
																	<div class="ps-1">
																		<span class="nav-text text-gray-600 fw-bolder fs-6">MyStreams</span>
																		<span class="text-muted fw-bold d-block pt-1">HR Solutions</span>
																	</div>
																</a>
															</li>
														</ul>
													</div>
													<!--end::Nav-->
													<!--begin::Tab Content-->
													<div class="tab-content flex-grow-1">
														<!--begin::Tab Pane 1-->
														<div class="tab-pane fade show active" id="kt_stats_widget_2_tab_1_content">
															<!--begin::Content-->
															<div class="d-flex justify-content-center mb-10">
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Sale</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$650</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Commission</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$2,040</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Refers</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">8,926</span>
																</div>
																<!--end::Item-->
															</div>
															<!--end::Content-->
															<!--begin::Chart-->
															<div id="kt_stats_widget_2_chart_1" style="height: 250px"></div>
															<!--end::Chart-->
														</div>
														<!--end::Tab Pane 1-->
														<!--begin::Tab Pane 2-->
														<div class="tab-pane fade" id="kt_stats_widget_2_tab_2_content">
															<!--begin::Content-->
															<div class="d-flex justify-content-center mb-10">
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Sale</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$1250</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Commission</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$5,000</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Refers</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">4,926</span>
																</div>
																<!--end::Item-->
															</div>
															<!--end::Content-->
															<!--begin::Chart-->
															<div id="kt_stats_widget_2_chart_2" style="height: 250px"></div>
															<!--end::Chart-->
														</div>
														<!--end::Tab Pane 2-->
														<!--begin::Tab Pane 3-->
														<div class="tab-pane fade" id="kt_stats_widget_2_tab_3_content">
															<!--begin::Content-->
															<div class="d-flex justify-content-center mb-10">
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Sale</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$350</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Comission</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$1,200</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Refers</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">5,500</span>
																</div>
																<!--end::Item-->
															</div>
															<!--end::Content-->
															<!--begin::Chart-->
															<div id="kt_stats_widget_2_chart_3" style="height: 250px"></div>
															<!--end::Chart-->
														</div>
														<!--end::Tab Pane 3-->
														<!--begin::Tab Pane 4-->
														<div class="tab-pane fade" id="kt_stats_widget_2_tab_4_content">
															<!--begin::Content-->
															<div class="d-flex justify-content-center mb-10">
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Sale</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$450</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Comission</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">$6,500</span>
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="px-10">
																	<span class="text-muted fw-bold fs-7">Refers</span>
																	<span class="text-gray-800 fw-bolder fs-3 d-block">500</span>
																</div>
																<!--end::Item-->
															</div>
															<!--end::Content-->
															<!--begin::Chart-->
															<div id="kt_stats_widget_2_chart_4" style="height: 250px"></div>
															<!--end::Chart-->
														</div>
														<!--end::Tab Pane 4-->
													</div>
													<!--end::Tab Content-->
												</div>
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Stats Widget 2-->
										