		
		<!--begin::Mega Menu-->
		<div class="modal bg-white fade" id="kt_mega_menu_modal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content shadow-none">
					<div class="container">
						<div class="modal-header d-flex align-items-center justify-content-between border-0">
							<div class="d-flex align-items-center">
								<!--begin::Logo-->
								<a href="?page=index">
									<img alt="Logo" src="assets/media/logos/logo-default.svg" class="h-30px" />
								</a>
								<!--end::Logo-->
							</div>
							<!--begin::Close-->
							<div class="btn btn-icon btn-light-primary ms-2" data-bs-dismiss="modal">
								<!--begin::Svg Icon | path: '.svg/icons/Navigation/Close.svg.'-->
								<span class="svg-icon svg-icon-2x">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
												<rect x="0" y="7" width="16" height="2" rx="1" />
												<rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
											</g>
										</g>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</div>
							<!--end::Close-->
						</div>
						<div class="modal-body">
							<!--begin::Row-->
							<div class="row py-10 g-5">
								<!--begin::Column-->
								<div class="col-lg-6 pe-lg-25">
									<!--begin::Row-->
									<div class="row">
										<div class="col-sm-4">
											<h3 class="fw-bolder mb-5">Dashboards</h3>
											<ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
												<li class="menu-item">
													<a class="menu-link ps-0 py-2 active" href="?page=index">Start</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=dashboards/extended">Extended</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=dashboards/light">Light</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=dashboards/compact">Compact</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-4">
											<h3 class="fw-bolder mb-5">Apps</h3>
											<ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=apps/chat">Chat</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=apps/inbox">Inbox</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=apps/shop/shop-1">Shop 1</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=apps/shop/shop-2">Shop 2</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=apps/shop/product">Shop Product</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-4">
											<h3 class="fw-bolder mb-5">General</h3>
											<ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=general/faq">FAQ</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=general/pricing">Pricing</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=general/invoice">Invoice</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=general/login">Login</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=general/wizard">Wizard</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=general/error">Error</a>
												</li>
											</ul>
										</div>
									</div>
									<!--end::Row-->
									<!--begin::Row-->
									<div class="row">
										<div class="col-sm-4">
											<h3 class="fw-bolder mb-5">Profile</h3>
											<ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=profile/overview">Overview</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=profile/account">Account</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=profile/settings">Settings</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-4">
											<h3 class="fw-bolder mb-5">Resources</h3>
											<ul class="menu menu-column menu-fit menu-rounded menu-gray-600 menu-hover-primary menu-active-primary fw-bold fs-6 mb-10">
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=documentation/getting-started">Documentation</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=layout-builder">Layout Builder</a>
												</li>
												<li class="menu-item">
													<a class="menu-link ps-0 py-2" href="?page=documentation/getting-started/changelog">Changelog</a>
												</li>
											</ul>
										</div>
									</div>
									<!--end::Row-->
								</div>
								<!--end::Column-->
								<!--begin::Column-->
								<div class="col-lg-6">
									<h3 class="fw-bolder mb-8">Quick Links</h3>
									<!--begin::Row-->
									<div class="row g-5">
										<div class="col-sm-4">
											<a href="#" class="card card-custom bg-light-success hoverable min-h-125px shadow-none mb-5">
												<div class="card-body d-flex flex-column flex-center">
													<h3 class="fs-3 mb-2 text-dark fw-bolder">Security</h3>
													<p class="mb-0 text-gray-600">$2.99/month</p>
												</div>
											</a>
										</div>
										<div class="col-sm-4">
											<a href="#" class="card card-custom bg-light-danger hoverable min-h-125px shadow-none mb-5">
												<div class="card-body d-flex flex-column flex-center text-center">
													<h3 class="fs-3 mb-2 text-dark fw-bolder">Demo</h3>
													<p class="mb-0 text-gray-600">Free Version</p>
												</div>
											</a>
										</div>
										<div class="col-sm-4">
											<a href="#" class="card card-custom bg-light-warning hoverable min-h-125px shadow-none mb-5">
												<div class="card-body d-flex flex-column flex-center text-center">
													<h3 class="fs-3 mb-2 text-dark text-hover-primary fw-bolder">Try Now</h3>
													<p class="mb-0 text-gray-600">Pro Version</p>
												</div>
											</a>
										</div>
									</div>
									<!--end::Row-->
									<!--begin::Row-->
									<div class="row g-5">
										<div class="col-sm-8">
											<a href="#" class="card card-custom bg-light-primary hoverable min-h-125px shadow-none mb-5">
												<div class="card-body d-flex flex-column flex-center text-center">
													<h3 class="fs-3 mb-2 text-dark fw-bolder">Payment Methods</h3>
													<p class="mb-0 text-gray-600">Credit Cards/Debit Cards, Paypal,
													<br />Transferwise &amp; Others</p>
												</div>
											</a>
											<!--begin::Row-->
											<div class="row g-5">
												<div class="col-sm-6">
													<a class="card card-custom bg-light-warning hoverable shadow-none min-h-125px mb-5">
														<div class="card-body d-flex flex-column flex-center text-center">
															<h3 class="fs-3 mb-2 text-dark fw-bolder">Support</h3>
															<p class="mb-0 text-gray-600">6 Month Free</p>
														</div>
													</a>
												</div>
												<div class="col-sm-6">
													<a href="#" class="card card-custom bg-light-success hoverable shadow-none min-h-125px mb-5">
														<div class="card-body d-flex flex-column flex-center text-center">
															<h3 class="fs-3 mb-2 text-dark fw-bolder">Installation</h3>
															<p class="mb-0 text-gray-600">$0.99 Per Machine</p>
														</div>
													</a>
												</div>
											</div>
											<!--end::Row-->
										</div>
										<div class="col-sm-4">
											<a href="#" class="card card-custom card-stretch mb-5 bg-light-info hoverable shadow-none min-h-250px">
												<div class="card-body d-flex flex-column p-0">
													<div class="d-flex flex-column flex-center text-center px-5 pt-10">
														<h3 class="fs-3 mb-2 text-dark fw-bolder">Quick Start</h3>
														<p class="mb-0 text-gray-600">Single Click Import</p>
													</div>
													<div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom" style="background-image:url('assets/media/svg/illustrations/terms-1.svg')"></div>
												</div>
											</a>
										</div>
									</div>
									<!--end::Row-->
								</div>
								<!--end::Column-->
							</div>
							<!--end::Row-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::Mega Menu-->
		