								
								<!--begin::List Widget 4-->
								<div class="card card-custom bg-transparent mb-5 shadow-none">
									<!--begin::Body-->
									<div class="card-body pt-2 px-0">
										<div class="table-responsive">
											<table class="table table-borderless align-middle">
												<!--begin::Item-->
												<tr>
													<th class="ps-0 w-55px">
														<!--begin::Symbol-->
														<div class="symbol symbol-55px flex-shrink-0 me-4">
															<span class="symbol-label bg-light-primary">
																<img src="assets/media/svg/avatars/009-boy-4.svg" class="h-75 align-self-end" alt="" />
															</span>
														</div>
														<!--end::Symbol-->
													</th>
													<td class="ps-0 flex-column min-w-300px">
														<!--begin::Title-->
														<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6 mb-1">Brad Simmons</a>
														<div class="text-muted fw-bold">Uses: HTML/CSS/JS, Python</div>
														<!--end::Title-->
													</td>
													<td>
														<!--begin::Label-->
														<div class="me-4 me-md-19 text-md-right">
															<div class="text-gray-800 fw-bolder fs-6 mb-1">$2,000,000</div>
															<span class="text-muted fw-bold">Paid</span>
														</div>
														<!--end::Label-->
													</td>
													<td class="text-end pe-0">
														<!--begin::Btn-->
														<a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
															<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
															<span class="svg-icon svg-icon-4">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<polygon points="0 0 24 0 24 24 0 24" />
																		<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																		<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																	</g>
																</svg>
															</span>
															<!--end::Svg Icon-->
														</a>
														<!--end::Btn-->
													</td>
												</tr>
												<!--end::Item-->
												<!--begin::Item-->
												<tr>
													<th class="ps-0">
														<!--begin::Symbol-->
														<div class="symbol symbol-55px flex-shrink-0 me-4">
															<span class="symbol-label bg-light-danger">
																<img src="assets/media/svg/avatars/006-girl-3.svg" class="h-75 align-self-end" alt="" />
															</span>
														</div>
														<!--end::Symbol-->
													</th>
													<td class="ps-0 flex-column min-w-300px">
														<!--begin::Title-->
														<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6 mb-1">Jessie Clarcson</a>
														<div class="text-muted fw-bold">Uses: HTML, ReactJS, ASP.NET</div>
														<!--end::Title-->
													</td>
													<td>
														<!--end::Label-->
														<div class="me-4 me-md-19 text-md-right">
															<div class="text-gray-800 fw-bolder fs-6 mb-1">$1,200,000</div>
															<span class="text-muted fw-bold">Paid</span>
														</div>
														<!--end::Label-->
													</td>
													<td class="text-end pe-0">
														<!--begin::Btn-->
														<a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
															<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
															<span class="svg-icon svg-icon-4">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<polygon points="0 0 24 0 24 24 0 24" />
																		<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																		<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																	</g>
																</svg>
															</span>
															<!--end::Svg Icon-->
														</a>
														<!--end::Btn-->
													</td>
												</tr>
												<!--end::Item-->
												<!--begin::Item-->
												<tr>
													<th class="ps-0">
														<!--begin::Symbol-->
														<div class="symbol symbol-55px flex-shrink-0 me-4">
															<span class="symbol-label bg-light-success">
																<img src="assets/media/svg/avatars/011-boy-5.svg" class="h-75 align-self-end" alt="" />
															</span>
														</div>
														<!--end::Symbol-->
													</th>
													<td class="ps-0 flex-column min-w-300px">
														<!--begin::Title-->
														<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6 mb-1">Lebron Wayde</a>
														<div class="text-muted fw-bold">Uses: HTML. Laravel Framework</div>
														<!--end::Title-->
													</td>
													<td>
														<!--end::Label-->
														<div class="me-4 me-md-19 text-md-right">
															<div class="text-gray-800 fw-bolder fs-6 mb-1">$3,400,000</div>
															<span class="text-muted fw-bold">Paid</span>
														</div>
														<!--end::Label-->
													</td>
													<td class="text-end pe-0">
														<!--begin::Btn-->
														<a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
															<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
															<span class="svg-icon svg-icon-4">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<polygon points="0 0 24 0 24 24 0 24" />
																		<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																		<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																	</g>
																</svg>
															</span>
															<!--end::Svg Icon-->
														</a>
														<!--end::Btn-->
													</td>
												</tr>
												<!--end::Item-->
												<!--begin::Item-->
												<tr>
													<th class="ps-0">
														<!--begin::Symbol-->
														<div class="symbol symbol-55px flex-shrink-0 me-4">
															<span class="symbol-label bg-light-warning">
																<img src="assets/media/svg/avatars/015-boy-6.svg" class="h-75 align-self-end" alt="" />
															</span>
														</div>
														<!--end::Symbol-->
													</th>
													<td class="ps-0 flex-column min-w-300px">
														<!--begin::Title-->
														<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6 mb-1">Kevin Leonard</a>
														<div class="text-muted fw-bold">Uses: VueJS, Laravel Framework</div>
														<!--end::Title-->
													</td>
													<td>
														<!--end::Label-->
														<div class="me-4 me-md-19 text-md-right">
															<div class="text-gray-800 fw-bolder fs-6 mb-1">$35,600,000</div>
															<span class="text-muted fw-bold">Paid</span>
														</div>
														<!--end::Label-->
													</td>
													<td class="text-end pe-0">
														<!--begin::Btn-->
														<a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
															<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
															<span class="svg-icon svg-icon-4">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<polygon points="0 0 24 0 24 24 0 24" />
																		<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																		<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																	</g>
																</svg>
															</span>
															<!--end::Svg Icon-->
														</a>
														<!--end::Btn-->
													</td>
												</tr>
												<!--end::Item-->
											</table>
										</div>
									</div>
									<!--end::Body-->
								</div>
								<!--end::List Widget 4-->
								