<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>

		<title>Grades Leaderboard</title>
	</head>
	<body>
		<div class="container">
			<!-- Navigation -->
			<%- include('partials/nav.ejs') %>
			<!-- Page content begins below this -->
			<h1>Courses</h1>
			<table data-toggle="table" data-search="true">
				<thead>
					<tr>
						<th scope="col" data-sortable="true">ID</th>
						<th scope="col" data-sortable="true">Course</th>
						<th scope="col" data-sortable="true">Average Grade</th>
						<th scope="col" data-sortable="true">Number of submition</th>
					</tr>
				</thead>
				<tbody>
					<% res.forEach(function (module) { %>
					<tr>
						<td><%= module.id %></td>
						<td><a href="/module_leaderboard?module_id=<%= module.id %>"><%= module.title %></a></td>
						<td><%= module.grade %></td>
						<td><%= module.submition %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
		<%- include('partials/footer.ejs') %>
	</body>
	<!-- Optional JavaScript -->
	<!-- Bootstrap Requirements -->
	<%- include('partials/bootstrap_reqs.ejs') %>
</html>
