<!DOCTYPE html>
<html lanf="en">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>

		<title>Personal Grade</title>
	</head>
    <body>
		<div class="container">
			<!-- Express snippet to include the header and navigation from a partial -->
			<%- include('partials/nav.ejs') %>
			<!-- Page content begins below this -->
			<h1><%= user %></h1>
			<a class="btn btn-outline-primary" role="button" href="/edit_grades">Edit Grades</a>
            <table data-toggle="table" data-search="true">
				<thead>
					<tr class="d-flex">
                        <th scope="col" data-sortable="true"  class="col-2">Session</th>
                        <th scope="col" data-sortable="true"  class="col-2">ID</th>
						<th scope="col" data-sortable="true"  class="col-5">Module</th>
						<th scope="col" data-sortable="true"  class="col-3">Grade</th>
					</tr>
				</thead>
				<tbody>
                    <% res.forEach(function (grade) { %>
                        <tr scope="row" class="d-flex">
                            <td><%= grade.session %></td>
                            <td><%= grade.course_id %></td>
                            <td><%= grade.title %> </td>
                            <td><%= grade.grade %></td>
                        </tr>
                        <% }); %>
				</tbody>
			</table>
            
		<%- include('partials/footer.ejs') %>
	</body>
	<!-- Optional JavaScript -->
	<!-- Bootstrap Requirements -->
	<%- include('partials/bootstrap_reqs.ejs') %>
</html>