

										<!--begin::Table Widget 2-->
										<div class="card card-custom card-stretch mb-5 mb-xxl-8">
											<!--begin::Header-->
											<div class="card-header border-0 pt-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label fw-bolder text-dark fs-3">Program Dashboard</span>
													<span class="text-muted mt-2 fw-bold fs-6">40 Grades Submitted</span>
												</h3>
																									<!--begin::Action-->
																									<!-- <div class="text-center pt-7">
																										<a href="#" class="btn btn-primary fw-bolder fs-6 px-7 py-3" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Add Grade</a>
																									</div> -->
																									<!--end::Action-->	
												<div class="card-toolbar">
													<ul class="nav nav-pills nav-pills-sm nav-light">
														<% if (user) {%>
														<li class="nav-item">
															<a href="#" class="btn btn-primary fw-bolder fs-6 px-7 py-3" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Add Grade</a>
														</li>
														<% } %>
													</ul>
												</div> 																									
												<!-- <div class="card-toolbar">
													<ul class="nav nav-pills nav-pills-sm nav-light">
														<li class="nav-item">
															<a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 active fw-bolder me-2" data-bs-toggle="tab" href="#kt_tab_pane_2_1">Day</a>
														</li>
														<li class="nav-item">
															<a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 fw-bolder me-2" data-bs-toggle="tab" href="#kt_tab_pane_2_2">Week</a>
														</li>
														<li class="nav-item">
															<a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 fw-bolder" data-bs-toggle="tab" href="#kt_tab_pane_2_3">Month</a>
														</li>
													</ul>
												</div> -->
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-3 pb-0 mt-n3">
												<div class="tab-content mt-4" id="myTabTables2">
													<!--begin::Tap pane-->
													<div class="tab-pane fade show active" id="kt_tab_pane_2_1" role="tabpanel" aria-labelledby="kt_tab_pane_2_1">
														<!--begin::Table-->
														<div class="table-responsive">
															<table class="table table-borderless align-middle">
																<thead>
																	<tr>
																		<th class="p-0 w-50px"></th>
																		<th class="p-0 min-w-150px"></th>
																		<th class="p-0 min-w-70px text-end">Average Grade</th>
																		<th class="p-0 min-w-70px text-end text-truncate">Students</th>
																		<th class="p-0 min-w-50px"></th>
																	</tr>
																</thead>
																<tbody>
																	<% res.forEach(function (module) { %>																	
																	<tr>
																		<td class="px-0 py-3">
																			<!-- <div class="symbol symbol-55px mt-1 me-5">
																				<span class="symbol-label bg-light-primary align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/001-boy.svg" class="mh-40px" />
																				</span>
																			</div> -->

																			<div class="symbol symbol-55px mt-1 me-5">
																				<span class="symbol-label bg-light-primary align-items-end">
																					<div class="symbol symbol-50px">
																						<div class="symbol-label fs-2 fw-bold text-success">L<%= module.level %></div>
																					</div>	
																				</span>
																			</div>																																				
																		</td>
																		<td class="px-0">
																			<a href="/module_leaderboard?module_id=<%= module.id %>" class="text-gray-800 fw-bolder text-hover-primary fs-6"><%= module.id %></a>
																			<span class="text-muted fw-bold d-block mt-1"><%= module.title %></span>
																		</td>
																		<td class="text-end">
																			<span class="text-primary fw-bolder d-block fs-6"><%= module.grade %></span>
																			<!-- <span class="text-muted fw-bold d-block mt-1 fs-7">Average grade</span> -->
																		</td>
																		<td class="text-end">
																			<span class="text-primary fw-bolder d-block fs-6"><%= module.submissions %></span>
																			<!-- <span class="text-muted fw-bold d-block mt-1 fs-7">Submissions</span> -->
																		</td>
																		<td class="text-end pe-0">
																			<a href="/module_leaderboard?module_id=<%= module.id %>"  class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<% }); %>
																</tbody>
															</table>
														</div>
														<!--end::Table-->
													</div>
													<!--end::Tap pane-->
													<!--begin::Tap pane-->
													<div class="tab-pane fade" id="kt_tab_pane_2_2" role="tabpanel" aria-labelledby="kt_tab_pane_2_2">
														<!--begin::Table-->
														<div class="table-responsive">
															<table class="table table-borderless align-middle">
																<thead>
																	<tr>
																		<th class="p-0 w-50px"></th>
																		<th class="p-0 min-w-150px"></th>
																		<th class="p-0 min-w-120px"></th>
																		<th class="p-0 min-w-70px"></th>
																		<th class="p-0 min-w-70px"></th>
																		<th class="p-0 min-w-50px"></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="p-0 py-3">
																			<div class="symbol symbol-55px mt-1 me-5">
																				<span class="symbol-label bg-light-warning align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/047-girl-25.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Lebron Wayde</a>
																			<span class="text-muted fw-bold d-block mt-1">Awesome Users</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$3,400,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-warning">+34%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 py-3">
																			<div class="symbol symbol-55px mt-1">
																				<span class="symbol-label bg-light-success align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/043-boy-18.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Kevin Leonard</a>
																			<span class="text-muted fw-bold d-block mt-1">Awesome Userss</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$35,600,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-success">+230%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 py-3">
																			<div class="symbol symbol-55px mt-1">
																				<span class="symbol-label bg-light-info align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/024-boy-9.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Randy Trent</a>
																			<span class="text-muted fw-bold d-block mt-1">Business Analyst</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$45,200,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-success">+340%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 py-3">
																			<div class="symbol symbol-55px me-5 mt-1">
																				<span class="symbol-label bg-light-primary align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/001-boy.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Brad Simmons</a>
																			<span class="text-muted fw-bold d-block mt-1">HTML, CSS Coding</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$1,200,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-primary">+28%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 py-3">
																			<div class="symbol symbol-55px mt-1">
																				<span class="symbol-label bg-light-danger align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/018-girl-9.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Jessie Clarcson</a>
																			<span class="text-muted fw-bold d-block mt-1">Most Successful</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$1,200,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-danger">+52%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<!--end::Table-->
													</div>
													<!--end::Tap pane-->
													<!--begin::Tap pane-->
													<div class="tab-pane fade" id="kt_tab_pane_2_3" role="tabpanel" aria-labelledby="kt_tab_pane_2_3">
														<!--begin::Table-->
														<div class="table-responsive">
															<table class="table table-borderless align-middle">
																<thead>
																	<tr>
																		<th class="p-0 w-50px"></th>
																		<th class="p-0 min-w-150px"></th>
																		<th class="p-0 min-w-120px"></th>
																		<th class="p-0 min-w-70px"></th>
																		<th class="p-0 min-w-70px"></th>
																		<th class="p-0 min-w-50px"></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="p-0 pb-3 pt-1">
																			<div class="symbol symbol-55px mt-3 me-5">
																				<span class="symbol-label bg-light-danger align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/018-girl-9.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Jessie Clarcson</a>
																			<span class="text-muted fw-bold d-block mt-1">Most Successful</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$1,200,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-danger">+52%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 pb-3 pt-1">
																			<div class="symbol symbol-55px mt-3">
																				<span class="symbol-label bg-light-warning align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/047-girl-25.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Lebron Wayde</a>
																			<span class="text-muted fw-bold d-block mt-1">Awesome Users</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$3,400,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-warning">+34%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 pb-3 pt-1">
																			<div class="symbol symbol-55px mt-3">
																				<span class="symbol-label bg-light-success align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/043-boy-18.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Kevin Leonard</a>
																			<span class="text-muted fw-bold d-block mt-1">Awesome Userss</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$35,600,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-success">+230%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 pb-3 pt-1">
																			<div class="symbol symbol-55px me-5 mt-3">
																				<span class="symbol-label bg-light-primary align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/001-boy.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Brad Simmons</a>
																			<span class="text-muted fw-bold d-block mt-1">HTML, CSS Coding</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$1,200,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-primary">+28%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																	<tr>
																		<td class="p-0 pb-3 pt-1">
																			<div class="symbol symbol-55px mt-3">
																				<span class="symbol-label bg-light-info align-items-end">
																					<img alt="Logo" src="assets/media/svg/avatars/024-boy-9.svg" class="mh-40px" />
																				</span>
																			</div>
																		</td>
																		<td class="px-0">
																			<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">Randy Trent</a>
																			<span class="text-muted fw-bold d-block mt-1">Business Analyst</span>
																		</td>
																		<td></td>
																		<td class="text-end">
																			<span class="text-gray-800 fw-bolder d-block fs-6">$45,200,000</span>
																			<span class="text-muted fw-bold d-block mt-1 fs-7">Paid</span>
																		</td>
																		<td class="text-end">
																			<span class="fw-bolder text-success">+340%</span>
																		</td>
																		<td class="text-end pe-0">
																			<a href="#" class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
																				<!--begin::Svg Icon | path: '.svg/icons/Navigation/Arrow-right.svg.'-->
																				<span class="svg-icon svg-icon-4">
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24" />
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
																						</g>
																					</svg>
																				</span>
																				<!--end::Svg Icon-->
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<!--end::Table-->
													</div>
													<!--end::Tap pane-->
												</div>
											</div>
											<!--end::Body-->
										</div>
										<!--end::Table Widget 2-->
										
