<!DOCTYPE html>
<html lang="en">
<!-- EJS head partial -->
<%- include('../partials/head.ejs'), {title: title}%>

<body>

	<div class="container">
		<!-- Express snippet to include the header and navigation from a partial -->
		<%- include('../partials/nav.ejs') %>		
		
		<!-- Page content begins below-->
		<h1><%- heading %></h1>
		<!-- Render a confirmation message if action was succesful -->
		<% if (addResult == "success") { %>
		<div class="alert alert-success" role="alert">Your grade was successfully added. Thanks!</div>
		<% } %>
		<!-- Rendering validation errors if any -->
        <% if(addResult && addResult != "success") { %>
			<div class="alert alert-danger" role="alert"><%= addResult %></div>
        <% } %>
		<!-- Form for capturing grades -->
		<form method="POST" class="mb-4">
			<div class="form-group">
				<label for="module">Module</label>
				<select class="form-control selectpicker" data-live-search="true" id="course_id" name="course_id"
					title="Choose a module..." required>
					<% courseList.forEach(function(course){ %>
					<option value="<%= course.id %>">
						<%= course.id %> - <%= course.title %>
					</option>
					<% }) %>
				</select>
			</div>
			<div class="form-group">
				<label for="semester">Session</label>
				<select class="form-control selectpicker" data-live-search="true" id="semester" name="semester"
					title="Choose a session..." required>
					<% semesterList.forEach(function(semester){ %>
					<option value="<%= semester.id %>"><%= semester.title %></option>
					<% }) %>
				</select>
			</div>


			<div class="form-group">
				<label for="workload">Grade</label>
				<input class="form-control" type="number" id="grade" name="grade" min="40" max="100" required />
			</div>

			<div class="form-group">
				<input class="form-check-input" type="checkbox" value="true" id="anonymous" name="anonymous">
				<label class="form-check-label" for="anonymous">
					Do not reveal my identity in leaderboard. Keep this grade anonymous.
				</label>
			</div>

			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
	</div>
	<!-- Optional js -->
	<!-- Bootstrap Elements -->
	<%- include('../partials/bootstrap_reqs.ejs')%>
	<!-- Bootstrap Select Elements -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>

</html>