								
								<!--begin::Row-->
								<div class="row g-0 g-xl-5 g-xxl-8">
									
									<% if (!user) {%>									
									<div class="col-xl-4">
<!--layout-partial:partials/widgets/engage/_widget-5.html-->
<%- include('../partials/widgets/engage/_widget-5.html')%>
								</div>
									<% } %>		

									<div class="col-xl-12">

<!--layout-partial:partials/widgets/tables/_widget-1.html-->

									<!-- </div> -->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<!-- <div class="row g-0 g-xl-5 g-xxl-8"> -->
									<!-- <div class="col-xl-4"> -->

<!--layout-partial:partials/widgets/stats/_widget-1.html-->

									<!-- </div> -->
									<!-- <div class="col-xl-8"> -->

<!--layout-partial:partials/widgets/stats/_widget-2.html-->

									<!-- </div> -->
								<!-- </div> -->
								<!--end::Row-->
								<!--begin::Row-->
								<div class="row g-0 g-xl-5 g-xxl-8">
									<div class="col-xl-12">

<!--layout-partial:partials/widgets/lists/_widget-1.html-->

									</div>
									<div class="col-xl-12">

<!--layout-partial:partials/widgets/tables/_widget-2.html-->
<%- include('../partials/widgets/tables/_widget-modules.html')%>
									</div>
								</div>
								<!--end::Row-->
								<!--begin::Modals-->

								<!--end::Modals-->
								