<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light mb-3">
	<a href="/" class="navbar-brand">Grades Leaderboard</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Module Overview<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/personal_grade">My Grades</a>
			</li>
			<li>
				<a class="btn btn-outline-primary ml-2" href="/addgrade" role="button">Add grade</a>
			</li>
		</ul>
	</div>

	<!-- Slack Sign-in-->
	<div class="navbar-nav flex-row justify-content-between ml-auto">
		<% if (typeof user !== 'undefined' && user) { %>
		<a href="#" class="nav-link disabled">Hi, <%= user.name %></a>
		<img src="<%=user.avatar_url %>" alt="user avatar" style="height: 40px; border-radius: 50%" />
		<a href="/logout" class="nav-link">Logout</a>
		<% } else { %>
		<a href="/auth/slack"
			><img
				id="slack-sign-in"
				alt="verify in with Slack"
				height="40"
				width="172"
				src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
				srcset="
					https://platform.slack-edge.com/img/sign_in_with_slack.png    1x,
					https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x
				"
		/></a>
		<% } %>
	</div>
</nav>
