		
		<!--begin::Header Search-->
		<div class="modal bg-white fade" id="kt_header_search_modal" aria-hidden="true">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content shadow-none">
					<div class="container w-lg-800px">
						<div class="modal-header d-flex justify-content-end border-0">
							<!--begin::Close-->
							<div class="btn btn-icon btn-light-primary ms-2" data-bs-dismiss="modal">
								<!--begin::Svg Icon | path: '.svg/icons/Navigation/Close.svg.'-->
								<span class="svg-icon svg-icon-1">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
												<rect x="0" y="7" width="16" height="2" rx="1" />
												<rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
											</g>
										</g>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</div>
							<!--end::Close-->
						</div>
						<div class="modal-body">
							<!--begin::Search-->
							<form class="pb-10">
								<input autofocus="" type="text" class="form-control bg-transparent border-0 fs-4x text-center fw-normal" name="query" placeholder="Search..." />
							</form>
							<!--end::Search-->
							<!--begin::Shop Goods-->
							<div class="py-10">
								<h3 class="fw-bolder mb-8">Shop Goods</h3>
								<!--begin::Row-->
								<div class="row g-5">
									<div class="col-sm-6">
										<div class="row g-5">
											<div class="col-sm-6">
												<div class="card card-custom overlay min-h-125px mb-5 shadow-none">
													<div class="card-body d-flex flex-column p-0">
														<div class="overlay-wrapper flex-grow-1 bgi-no-repeat bgi-size-cover bgi-position-center card-rounded" style="background-image:url('assets/media/stock/600x400/img-17.jpg')"></div>
														<div class="overlay-layer bg-white bg-opacity-50">
															<a href="#" class="btn btn-sm fw-bold btn-primary">Explore</a>
														</div>
													</div>
												</div>
												<div class="card card-custom overlay min-h-125px mb-5 shadow-none">
													<div class="card-body d-flex flex-column p-0">
														<div class="overlay-wrapper flex-grow-1 bgi-no-repeat bgi-size-cover bgi-position-center card-rounded" style="background-image:url('assets/media/stock/600x400/img-1.jpg')"></div>
														<div class="overlay-layer bg-white bg-opacity-50">
															<a href="#" class="btn btn-sm fw-bold btn-primary">Explore</a>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="card card-custom card-stretch overlay mb-5 shadow-none min-h-250px">
													<div class="card-body d-flex flex-column p-0">
														<div class="overlay-wrapper flex-grow-1 bgi-no-repeat bgi-size-cover bgi-position-center card-rounded" style="background-image:url('assets/media/stock/600x400/img-23.jpg')"></div>
														<div class="overlay-layer bg-white bg-opacity-50">
															<a href="#" class="btn btn-sm fw-bold btn-primary">Explore</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card card-custom card-stretch overlay mb-5 shadow-none min-h-250px">
											<div class="card-body d-flex flex-column p-0">
												<div class="overlay-wrapper flex-grow-1 bgi-no-repeat bgi-size-cover bgi-position-center card-rounded" style="background-image:url('assets/media/stock/600x400/img-11.jpg')"></div>
												<div class="overlay-layer bg-white bg-opacity-50">
													<a href="#" class="btn btn-sm fw-bold btn-primary">Explore</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end::Row-->
							</div>
							<!--end::Shop Goods-->
							<!--begin::Framework Users-->
							<div>
								<h3 class="text-dark fw-bolder fs-1 mb-6">Framework Users</h3>

<!--layout-partial:partials/widgets/lists/_widget-4.html-->

							</div>
							<!--end::Framework Users-->
							<!--begin::Tutorials-->
							<div class="pb-10">
								<h3 class="text-dark fw-bolder fs-1 mb-6">Tutorials</h3>

<!--layout-partial:partials/widgets/lists/_widget-5.html-->

							</div>
							<!--end::Tutorials-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::Header Search-->
		