						
						<!--begin::Sidebar Nav-->
						<ul class="sidebar-nav nav nav-tabs pt-15 pb-5 px-5" id="kt_sidebar_tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#kt_sidebar_tab_pane_1" id="kt_sidebar_tab_1">
									<img alt="" src="assets/media/svg/logo/purple/aven.svg" class="default" />
									<img alt="" src="assets/media/svg/logo/colored/aven.svg" class="active" />
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#kt_sidebar_tab_pane_2" id="kt_sidebar_tab_2">
									<img alt="" src="assets/media/svg/logo/purple/kanba.svg" class="default" />
									<img alt="" src="assets/media/svg/logo/colored/kanba.svg" class="active" />
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" data-bs-toggle="tab" href="#kt_sidebar_tab_pane_3" id="kt_sidebar_tab_3">
									<img alt="" src="assets/media/svg/logo/purple/fox-hub-2.svg" class="default" />
									<img alt="" src="assets/media/svg/logo/colored/fox-hub-2.svg" class="active" />
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#kt_sidebar_tab_pane_4" id="kt_sidebar_tab_4">
									<img alt="" src="assets/media/svg/logo/purple/tower.svg" class="default" />
									<img alt="" src="assets/media/svg/logo/colored/tower.svg" class="active" />
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#kt_sidebar_tab_pane_5" id="kt_sidebar_tab_5">
									<img alt="" src="assets/media/svg/logo/purple/treva.svg" class="default" />
									<img alt="" src="assets/media/svg/logo/colored/treva.svg" class="active" />
								</a>
							</li>
						</ul>
						<!--end::Sidebar Nav-->
						<!--begin::Sidebar Content-->
						<div id="kt_sidebar_content" class="py-10 px-5 px-lg-5">
							<div class="hover-scroll-y me-lg-n2 pe-lg-2" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-offset="10px" data-kt-scroll-dependencies="#kt_sidebar_tabs, #kt_sidebar_footer" data-kt-scroll-wrappers="#kt_sidebar_content">
								<div class="tab-content">
									<div class="tab-pane" id="kt_sidebar_tab_pane_1" role="tabpanel">
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Aven Sales</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body px-3 py-0">
												<!--begin::Chart-->
												<div id="kt_sidebar_tab_1_chart" class="apexcharts-bar-hover-danger" style="height: 250px"></div>
												<!--end::Chart-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Tasks Overview</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0">
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-1.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Sunspots</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Mark, Rowling, Esther</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin: Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-2.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Ocean Drive</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Study the highway types</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end: Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-3.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Soar, Eco</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">HTML, CSS. jQuery</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-5.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Cup &amp; Green</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">ASP.NET Developer</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-6.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Bose QC 35 II</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">Study the highway types</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
									</div>
									<div class="tab-pane" id="kt_sidebar_tab_pane_2" role="tabpanel">
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Kanba Sales</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body px-3 py-0">
												<!--begin::Chart-->
												<div id="kt_sidebar_tab_2_chart" class="apexcharts-bar-hover-danger" style="height: 250px"></div>
												<!--end::Chart-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Kanba Products</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0">
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-7.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">BP Industries</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Successful Fellas</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin: Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-8.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Automatica</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Successful Fellas</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end: Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-9.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Python Inc.</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Most Successful</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-19.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Cup &amp; Green</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">ASP.NET Developer</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-6.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Active Customers</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">Best Customers</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
									</div>
									<div class="tab-pane active" id="kt_sidebar_tab_pane_3" role="tabpanel">
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Fox Sales</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body px-3 py-0">
												<!--begin::Chart-->
												<div id="kt_sidebar_tab_3_chart" class="apexcharts-bar-hover-danger" style="height: 250px"></div>
												<!--end::Chart-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Fox Bestsellers</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0">
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-17.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Blue Donut</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Study the highway types</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin: Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-10.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Lovely Hearts</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Study the highway types</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end: Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-1.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Hands &amp; Yellow</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Study the highway types</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-9.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Cup &amp; Green</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">Study the highway types</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-4.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Bose QC 35 II</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">Study the highway types</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
									</div>
									<div class="tab-pane" id="kt_sidebar_tab_pane_4" role="tabpanel">
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Tower Sales</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body px-3 py-0">
												<!--begin::Chart-->
												<div id="kt_sidebar_tab_4_chart" class="apexcharts-bar-hover-danger" style="height: 250px"></div>
												<!--end::Chart-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Tower Latest Products</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0">
												<!--begin: Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-8.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Automatica</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Successful Fellas</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end: Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-11.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">BP Industries</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Successful Fellas</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-19.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Cup &amp; Green</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">ASP.NET Developer</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-9.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Python Inc.</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Most Successful</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-6.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Active Customers</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">Best Customers</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
									</div>
									<div class="tab-pane" id="kt_sidebar_tab_pane_5" role="tabpanel">
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Treva Sales</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>
													
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
														<div class="menu-item px-3">
															<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Manage</div>
														</div>
														<div class="separator mb-3 opacity-75"></div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add User</a>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Add Role</a>
														</div>
														<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start" data-kt-menu-flip="left-start, top">
															<a href="#" class="menu-link px-3">
																<span class="menu-title">Add Group</span>
																<span class="menu-arrow"></span>
															</a>
															<div class="menu-sub menu-sub-dropdown w-200px py-4">
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Admin Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Staff Group</a>
																</div>
																<div class="menu-item px-3">
																	<a href="#" class="menu-link px-3">Member Group</a>
																</div>
															</div>
														</div>
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3">Reports</a>
														</div>
														<div class="separator mt-3 opacity-75"></div>
														<div class="menu-item px-3">
															<div class="menu-content px-3 py-3">
																<a class="btn btn-primary fw-bold btn-sm px-4" href="#">Create New</a>
															</div>
														</div>
													</div>
													<!--end::Menu-->
													
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body px-3 py-0">
												<!--begin::Chart-->
												<div id="kt_sidebar_tab_5_chart" class="apexcharts-bar-hover-danger" style="height: 250px"></div>
												<!--end::Chart-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
										<!--begin::Card-->
										<div class="card card-custom bg-transparent">
											<!--begin::Header-->
											<div class="card-header align-items-center border-0">
												<h3 class="card-title fw-bolder text-white fs-3">Treva's Products</h3>
												<div class="card-toolbar">
													<button type="button" class="btn btn-md btn-icon btn-icon-white btn-info" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
														<!--begin::Svg Icon | path: '.svg/icons/Layout/Layout-4-blocks-2.svg.'-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>

<!--layout-partial:partials/content/dropdown/_dropdown-1.html-->

												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0">
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-12.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Top Authors</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Successful Fellas</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin: Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-13.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Popular Authors</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">Most Successful</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end: Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-14.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">New Users</a>
														<span class="text-white opacity-25 fw-bold fs-7 my-1">HTML, CSS. jQuery</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-15.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Active Customers</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">Awesome Users</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Symbol-->
													<div class="symbol symbol-40px symbol-2by3 me-4">
														<img src="assets/media/stock/600x400/img-16.jpg" alt="" class="mw-100" />
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
														<a href="#" class="text-white fw-bolder text-hover-primary fs-6">Bose QC 35 II</a>
														<span class="text-white opacity-25 fs-7 fw-bold my-1">Best Customers</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Card-->
									</div>
								</div>
							</div>
						</div>
						<!--end::Sidebar Content-->
						<!--begin::Sidebar footer-->
						<div id="kt_sidebar_footer" class="py-2 px-5 pb-md-6 text-center">
							<a href="?page=dashboards/extended" class="btn btn-color-white bg-white bg-opacity-10 bg-hover-opacity-20 fw-bolder w-100">View Extended Layout</a>
						</div>
						<!--end::Sidebar footer-->
						