<!--begin::Sidebar Content-->
<div id="kt_sidebar_content" class="py-10 px-2 px-lg-8">
    <div class="hover-scroll-y me-lg-n5 pe-lg-4" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-offset="10px" data-kt-scroll-wrappers="#kt_sidebar_content" style="height: 895px;">
        <!--begin::Card-->
        <div class="card card-custom bg-info">
            <!--begin::Body-->
            <div class="card-body px-0">
                <div class="pt-0">
                    <!--begin::Chart-->
                    
                    <!--end::Chart-->
                    <!--begin::Items-->
                    <div class="pt-4">
                        <!--begin::Title-->
                        <div class="text-center pb-4">
                            <img src="assets/media/logos/uol_logo.png" alt="" class="img-fluid">
                        </div>
                        <!-- <span class="fw-bolder fs-1 text-primary px-4 py-2 rounded bg-white bg-opacity-10 pulse"></span>#8 <span class="fs-6 text-white">Gradez ranking</span></span></span>                             -->
                        <!--begin::Action-->
                    </div>
                    <!--end::Title-->
                    <div class="row row-cols-1 px-xl-12 sidebar-toolbar">
                        <div class="col p-3"> 
                            <a href="#" class="btn p-5 w-100 text-start btn-active-primary">
                                <span class="text-white fw-bolder fs-1 d-block pb-1">#8</span>
                                <span class="fw-bold">Gradez ranking</span>
                            </a>            
                        </div>   
                    </div>
                 
                    <!--begin::Row-->
                    <div class="row row-cols-2 px-xl-12 sidebar-toolbar">
                        <div class="col p-3">
                            <a href="#" class="btn p-5 w-100 text-start btn-active-primary">
                                <span class="text-white fw-bolder fs-1 d-block pb-1">92</span>
                                <span class="fw-bold">Cumulative grade</span>
                            </a>
                        </div>
                        <div class="col p-3">
                            <a href="#" class="btn p-5 w-100 text-start btn-active-primary">
                                <span class="text-white fw-bolder fs-1 d-block pb-1">46%</span>
                                <span class="fw-bold">Degree progress</span>
                            </a>
                        </div>
                        <div class="col p-3">
                            <a href="#" class="btn p-5 w-100 text-start btn-active-primary">
                                <span class="text-white fw-bolder fs-1 d-block pb-1">11</span>
                                <span class="fw-bold">Grades submitted</span>
                            </a>
                        </div>
                        <div class="col p-3">
                            <a href="#" class="btn p-5 w-100 text-start btn-active-primary">
                                <span class="text-white fw-bolder fs-1 d-block pb-1">165</span>
                                <span class="fw-bold">Credits earned</span>
                            </a>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Items-->
            </div>
        </div>
        <!--end::Body-->
    </div>
    <!--end::Card-->
</div>

<!--end::Sidebar Content-->