										<!--begin::Engage Widget 5-->
										<div class="card card-custom card-stretch mb-5 mb-xxl-8">
											<!--begin::Body-->
											<div class="card-body pb-0">
												<!--begin::Wrapper-->
												<div class="d-flex flex-column h-100">
													<!--begin::Text-->
													<h3 class="text-dark text-center fs-1 fw-bolder pt-15 lh-lg">Welcome!</h3>
													<!--end::Text-->
													<!--begin::Image-->
													<div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom h-200px"
														style="background-image:url('assets/media/svg/illustrations/copy.svg')"></div>
													<!--end::Image-->
												</div>
												<!--end::Wrapper-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Engage Widget 5-->